Name: Vrushaket P. Chaudhari

Roll No: 31305

Class : TE-03

Batch : K3

Subject : DSBDAL

Assignment : 3. Basic Statistics - Measures of Central Tendencies and Variance

## Basic Statistics - Measures of Central Tendencies and Variance
Perform the following operations on any open source dataset (eg. data.csv)

1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset (age, income etc.) with numeric variables grouped by one of the qualitative (categorical) variable. For example, if your categorical variable is age groups and quantitative variable is income, then provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each response to the categorical variable.


2. Write a Python program to display some basic statistical details like percentile, mean, standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-versicolor’ of iris.csv dataset.

### Import required libraries

In [21]:
import numpy as np                     
import pandas as pd

### Load the Dataset into pandas data frame.

In [22]:
from pandas import read_csv
df = read_csv('datasets/nba.csv')

In [23]:
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [24]:
df.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

In [25]:
df = df.dropna()

In [26]:
df.isnull().sum()

Name        0
Team        0
Number      0
Position    0
Age         0
Height      0
Weight      0
College     0
Salary      0
dtype: int64

1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset (age, income etc.) with numeric variables grouped by one of the qualitative (categorical) variable. For example, if your categorical variable is age groups and quantitative variable is income, then provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each response to the categorical variable.

### Statistics for Salary grouped by 'Age'

In [27]:
df.groupby(['Age']).Salary.count()

Age
19.0     2
20.0    15
21.0    14
22.0    23
23.0    33
24.0    41
25.0    41
26.0    32
27.0    35
28.0    27
29.0    17
30.0    20
31.0    17
32.0     9
33.0     8
34.0     7
35.0     7
36.0     9
37.0     1
38.0     3
39.0     1
40.0     2
Name: Salary, dtype: int64

In [28]:
### Grouping by categorical column 'Age' and getting statistics

In [29]:
df.groupby(['Age']).Salary.agg(['max', 'min', 'mean', 'median', 'std'])

             max        min          mean     median           std
Age
19.0   2127840.0  1733040.0  1.930440e+06  1930440.0  2.791658e+05
20.0   5703600.0   525093.0  2.616956e+06  2357760.0  1.609006e+06
21.0   5758680.0   525093.0  2.113412e+06  1494540.0  1.542987e+06
22.0   6331404.0   525093.0  2.465265e+06  2041080.0  1.582921e+06
23.0  16000000.0    83397.0  2.141789e+06  1155600.0  2.930108e+06
24.0  16407501.0   525093.0  3.952886e+06  1509360.0  4.982172e+06
25.0  15851950.0    55722.0  3.717713e+06  1159680.0  4.498505e+06
26.0  17120106.0   134215.0  6.902746e+06  3183487.5  6.322481e+06
27.0  20158622.0    55722.0  6.642361e+06  3425510.0  7.007965e+06
28.0  19689000.0   206192.0  5.293187e+06  4500000.0  4.507389e+06
29.0  16407500.0   111444.0  6.583558e+06  6500000.0  5.586068e+06
30.0  19689000.0   947276.0  6.415726e+06  6337500.0  4.733617e+06
31.0  21468695.0   947276.0  7.081688e+06  5219169.0  6.261255e+06
32.0  22875000.0   295327.0  8.772865e+06  6300000.0  8.500014e+06
33.0   8193029.0   200600.0  3.096028e+06  2300000.0  2.408262e+06
34.0  20000000.0   261894.0  6.817141e+06  5016000.0  6.444587e+06
35.0   5746479.0   947276.0  2.892165e+06  2854940.0  1.869718e+06
36.0   5675000.0   947276.0  2.164577e+06  1449187.0  1.625479e+06
37.0   5000000.0  5000000.0  5.000000e+06  5000000.0           NaN
38.0   3376000.0   222888.0  1.515388e+06   947276.0  1.651542e+06
39.0   4088019.0  4088019.0  4.088019e+06  4088019.0           NaN
40.0   5250000.0   250750.0  2.750375e+06  2750375.0  3.535004e+06

### Manual Calculation for Salary column

In [30]:
salaries = df.Salary.values
salaries_count = len(salaries)
salaries_count

364

#### Mean

In [31]:
salaries_sum = 0
for i in salaries:
    salaries_sum += i
salaries_mean = salaries_sum / salaries_count     
print("Mean: ", salaries_mean)

Mean:  4620311.071428572

#### Median

In [32]:
sorted_salaries = salaries.copy()
sorted_salaries.sort()                                # sorting values in increasing order

if salaries_count % 2 == 0:                           # if count is even avg of middle two numbers
    salaries_median = (sorted_salaries[salaries_count//2] + sorted_salaries[(salaries_count//2)-1]) / 2
else:
    salaries_median = sorted_salaries[(salaries_count//2)-1]
    
print("Median: ", salaries_median)

Median:  2515440.0

#### Standard Deviation

In [33]:
salaries_std_dev = 0.0

for i in salaries:
    salaries_std_dev += (i - salaries_mean)**2                      # sum of squares of variation from mean
    
salaries_std_dev = (salaries_std_dev / (salaries_count-1))**0.5     # getting standard deviation
print("Std Deviation: ", salaries_std_dev)

Std Deviation:  5119715.580210536

#### Minimum

In [34]:
salaries.min()

55722.0

#### Maximum

In [35]:
salaries.max()

22875000.0

#### Complete Statistics

In [36]:
df.Salary.describe()

count    3.640000e+02
mean     4.620311e+06
std      5.119716e+06
min      5.572200e+04
25%      1.000000e+06
50%      2.515440e+06
75%      6.149694e+06
max      2.287500e+07
Name: Salary, dtype: float64

2. Write a Python program to display some basic statistical details like percentile, mean, standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-versicolor’ of iris.csv dataset.

### Load the Dataset into pandas data frame.

In [37]:
from pandas import read_csv
df = read_csv('datasets/Iris.csv')

In [38]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

### Basic Statistical Details

In [39]:
print('Iris-setosa')
setosa = df['Species'] == 'Iris-setosa'
print(df[setosa].describe())

print('\nIris-versicolor')
versicolor = df['Species'] == 'Iris-versicolor'
print(df[versicolor].describe())

print('\nIris-virginica')
versicolor = df['Species'] == 'Iris-versicolor'
print(df[versicolor].describe())

Iris-setosa
             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

Iris-versicolor
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000

Iris-virginica
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000